@media  screen and (max-width: 1366px) {

}

@media  screen and (max-width: 768px) {
  footer .footer-top {
    margin-bottom: 140px;
  }

  footer .footer-top h2 {
    font-size: 28px;
    margin-bottom: 6px;
  }

  footer .footer-top h3 {
    font-size: 16px;
  }

  footer .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom .logo-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo-content .socials {
    padding: 0;
  }
}

@media  screen and (max-width: 490px) {
  
}