* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #04c9f1;
  color: white;
  font-family: "Euclid Circular B", "Poppins";
}

h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-section {
  width: 100%;
  height: 350px;
}

footer {
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 0; */
  height: auto;
  background: transparent url(../image/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

footer .footer-inner {
  margin-top: auto;
  width: 100%;
  height: 570px;
  padding: 120px 48px 56px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  text-align: left;
}

footer .footer-top h2 {
  font-size: 32px;
  margin-bottom: 2px;
}

footer .footer-top h3 {
  font-size: 18px;
  opacity: .6;
}

footer .footer-top button {
  border: 0;
  font-family: inherit;
  background-color: rgb(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 40px;
  overflow: hidden;
  padding: 16px 28px;
  font-size: 16px;
  cursor: pointer;
}

footer .footer-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.footer-bottom .logo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
}

.logo-content .logo {
  /* position: absolute; */
  /* top: 240px; */
  /* left: 50%; */
  /* translate: -50% 0; */
  height: 20px;
}

.logo-content .socials {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 0 0 0;
}

.socials a {
  opacity: .5;
  font-size: 22px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-bottom .nav-footer {
  display: flex;
  min-width: 0;
  width: 100%;
  text-align: left;
  gap: 3.5vw;
}

.nav-footer ul {
  width: 100%;
  display: grid;
  gap: 12px;
  text-align: left;
  place-content: start;
}

.nav-footer ul h4 {
  opacity: .6;
  letter-spacing: 1px;
  font-size: 13px;
}

.nav-footer ul li {
  width: 100%;
}

.nav-footer ul li a {
  text-decoration: none;
  color: white;
}